body{
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background-color: rgb(255, 255, 255);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 30px gray;
    border-radius: 10px;
    padding-bottom: 50px;
}

img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3{
    font-family: Georgia, serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.card-text{
    padding: 1em;
    align-self: center;
}

a{
    background-color: rgb(0, 153, 0);
    padding: 10px 15px 7px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}