html{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

ul.sq{
    list-style: square;
}
ul.dot{
    list-style: disc;
}
ul.cr{
    list-style: circle;
}