body{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    position: relative;
    padding: 10rem;
}

h2{
    font-family: Georgia, serif;
    line-height: 1.2;
}

article{
    margin: 3rem;
    max-width: 12vw;
}

/* • Create a section with three articles inside
• The article should have a h2 title and a paragraph (p)
• Fonts
o Font family Helvetica, sans-serif with line height 1.5 for the html
o Font family Georgia, serif with line height 1.2 for the headings
• Change the section display property to flex and set justify-content: space-between
• Set on the section max-width 70vw */
